<div class="container">
  <form (ngSubmit)="agregaIngreso()">
    <div class="mb-3 row">
      <label for="id" class="col-4 col-form-label">ID</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="id"
          id="id"
          placeholder="ID"
          [(ngModel)]="nuevoingreso.id"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Nombre" class="col-4 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="Nombre"
          id="Nombre"
          placeholder="Nombre del Ingreso"
          [(ngModel)]="nuevoingreso.nombre"
        />
        <div *ngIf="nuevoingreso.nombre == ''">
          <span>Debes Escribir un Nombre</span>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Fecha" class="col-4 col-form-label">Fecha</label>
      <div class="col-8">
        <input
          type="date"
          class="form-control"
          name="Fecha"
          id="Fecha"
          [(ngModel)]="nuevoingreso.fecha"
        />
        <div *ngIf="nuevoingreso.fecha == ''">
          <span>Debes Escribir una Fecha Valida</span>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="monto" class="col-4 col-form-label">Monto Del Ingreso</label>
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          name="monto"
          id="monto"
          [(ngModel)]="nuevoingreso.monto"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">AGREGAR</button>
      </div>
    </div>
  </form>

